.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #5c5e73;
}

.header {
  height: 10em;
  background-color: #262b33;
}

.footer{
  height: 6em;
  background-color: #888eac;
}

.content {
  flex: 1;
}

body{
  margin: 0;
}
